* {
  box-sizing: border-box;
}
.game_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  border-radius: 6px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.cont_try_board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.pins_container {
  display: flex;
  height: 50px;
}
.pins_left, 
.pins_right {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.pins_left {
  flex: 1;
}
.pins_right {
  width: calc(100% / 4);
}
.selector_pins_color .pin{
  cursor: pointer;
}
.pin {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid rgb(104, 102, 102);
  margin: auto;
}
.small_pin {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid rgb(104, 102, 102);
  margin: auto 12px;
}
.small_pin.good_pos {
  background-color: rgb(160, 252, 160);
}
.small_pin.no_good_pos {
  background-color: rgb(244, 255, 39);
}
.check_button,
.delete_button,
.reset_button {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 6px;
}
.mastermind_separator {
  border: 1px solid rgb(158, 158, 158);
}

/* colors */
.pin[data-color=red] {
  background-color: #ff8097;
}

.pin[data-color=blue] {
  background-color: #92d6e2;
}

.pin[data-color=green] {
  background-color: #9fec98;
}

.pin[data-color=yellow] {
  background-color: #ffe992;
}

.pin[data-color=purple] {
  background-color: #b4a1e2;
}

.pin[data-color=orange] {
  background-color: #ffc59e;
}

/* effects */

.pin[data-color=red]:hover {
  background-color: #cf929d;
}

.pin[data-color=blue]:hover {
  background-color: #7ab4be;
}

.pin[data-color=green]:hover {
  background-color: #77b372;
}

.pin[data-color=yellow]:hover {
  background-color: #cdbc76;
}

.pin[data-color=purple]:hover {
  background-color: #8d7eb1;
}

.pin[data-color=orange]:hover {
  background-color: #b58c71;
}
