* {
  box-sizing: border-box;
}
.game_cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board {
  width: 300px;
  height: 600px;
  /* background-color: rgb(235, 156, 156); */
  border: 1px solid rgb(109, 102, 102);
  border-radius: 6px;
}
.pins_container {
  display: flex;
  height: 50px;
}
.pins_left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 44px;
  max-height: 44px;
}
.selector_pins_color,
.pins_right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px 20px;
  height: 44px;
  max-height: 44px;
}
.selector_pins_color .pin{
  cursor: pointer;
}
.pin {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid rgb(104, 102, 102);
}
.small_pin {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  border: 2px solid rgb(104, 102, 102);
}
.small_pin.good_pos {
  background-color: rgb(160, 252, 160);
}
.small_pin.no_good_pos {
  background-color: rgb(244, 255, 39);
}
.width_1_4 {
  width: calc(100% / 4);
}
.width_expand {
  flex: 1;
}

/* colors */
.pin[data-color=red] {
  background-color: #ff8097;
}

.pin[data-color=blue] {
  background-color: #92d6e2;
}

.pin[data-color=green] {
  background-color: #9fec98;
}

.pin[data-color=yellow] {
  background-color: #ffe992;
}

.pin[data-color=purple] {
  background-color: #b4a1e2;
}

.pin[data-color=orange] {
  background-color: #ffc59e;
}

/* effects */

.pin[data-color=red]:hover {
  background-color: #cf929d;
}

.pin[data-color=blue]:hover {
  background-color: #7ab4be;
}

.pin[data-color=green]:hover {
  background-color: #77b372;
}

.pin[data-color=yellow]:hover {
  background-color: #cdbc76;
}

.pin[data-color=purple]:hover {
  background-color: #8d7eb1;
}

.pin[data-color=orange]:hover {
  background-color: #b58c71;
}
